@charset "utf-8";
body, div, p, ul, li, ol, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input, fieldset, legend, optgroup, select, table, textarea {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
}

ul,li{
    list-style:none;
    padding:0px;
    margin:0px;
    text-indent: 0px;
}
img,a{
    border:none;
}
a{
    text-decoration: none;
}
.left,.lef,.le,.l,.center,.cen,.ce,.c{
    float:left;
}
.right,.righ,.rig,.ri,.r{
    float:right;
}
.clear{
    float:none;
    clear:both;
}



.top {
    background-color: #09C;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
}
.top .left {
    width: 200px;
    height: 100px;
      border-left: 1px solid #008fbf;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    left: 0px;
    top: 0px;
}
.top .left .bgx { border-right: 1px solid #008fbf;
  height: 42px;
  overflow: hidden;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  color: #FFF;
  text-align: center;
}
.top .center {
    height: auto;
    margin-left: 200px;
    float: none;
}
.top .center .t1 {
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffaa7b;

}
.top .center .t1 .lef {
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 32px;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}
.top .center .t1 .lef a {
    color: #FFF;
}
.top .center .t1 .lef span {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.top .center .t1 .rig {
    text-align: right;
}
.top .center .t1 .rig a {
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 32px;
    color: #FFF;
    padding-right: 3px;
    padding-left: 3px;
    display: inline-block;
}
.top .center .t2 ul li {
    font-family: "微软雅黑";
    font-size: 15px;
    line-height: 50px;
    color: #FFF; border-right:1px solid #008fbf;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: center;
    float: left;
    height: 50px;
    width: 60px;
}
.top .center .t2 {
    height: auto;  width: 70%;
  float: left;
}
.top .center .t2 ul li a {
    color: #FFF;
    display: block;
    width: 65px;
    height: 50px;
}
.top .center .t2 ul li:hover {
    background-color: #008fbf;
    background-image: none;
}
.top .center .t2 ul li a.cur{
    background-color: #008fbf;
} 





.top .center .t3 ul li {
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 50px;
    color: #FFF; border-right:1px solid #008fbf;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: center;
    float: left;
    height: 50px;
}
.top .center .t3 {
    height: auto;  
  float: right;
}
.top .center .t3 ul li a {
    color: #FFF;padding: 0 8px;
    display: block;
    height: 50px;
}
.top .center .t3 ul li:hover {
    background-color: #008fbf;
    background-image: none;
}
.top .center .t3 ul li a.cur{
    background-color: #008fbf;
} 
.jq_menu2{  border-right: 0px solid #008fbf !important;}
/****************后台登陆样式修改开始***************************/
.main_logon{
	  background: #0099cc;
	background-repeat: repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.login{
	width:660px;
	margin:100px auto;
}
.login .title{
	font-family: "微软雅黑";
	font-size: 25px;
	line-height: 100px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../images/light.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	width: 660px;
	height: 114px;
}
.login table {
  margin-top: 54px;
  text-align:left;
}
.login table td {
	padding-left:136px;
}
.main_logon .login table td input {
	width: 280px;
	height: 42px;
	line-height: 42px;
	border: #fff;
	border-radius: 3px;
	text-indent: 5px;
	color: #525252;
	font-size: 16px;
	font-family: "微软雅黑";
	background-color: #FFF;
	margin-bottom: 20px;
	padding-left:20px;
	webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.main_logon .login table td .yzm {
  width: 165px;
  float: left;
  margin-right: 15px;
}
.main_logon .login table td .yzm_code {
  float: left;
}
.main_logon .login table td .loginBtn {
	    border: solid 1px #eee;
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 15px;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
	    border-color: #e33;
		    background-color: #e33;
			    color: #fff;
}
.main_logon .copy{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 44px;
	color: #fff;
	height: 44px;
	width: 100%;
	  background-color: #293038;
	text-align: center;
}


.baomsgbox{
    min-width: 150px;
    max-width: 250px;
    background: #fff;
    height: 40px;
    line-height: 40px;
    border: 2px   #0099cc  double;
    position: fixed; padding: 0 10px;
    z-index: 100000;
    top: 20%;
    left: 45%;
    -webkit-box-shadow: 3px 3px #a9a9a9 ;
    -moz-box-shadow: 3px 3px #a9a9a9;
    box-shadow: 3px 3px #a9a9a9 ;
    -moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    display: none;
}
.baomsgbox img{
    float: left;
    margin-top: 12px;
    width: 16px; height: 16px;
    display: block;
}
.baomsgbox span{
    float: left;
    display: block;
    margin-left: 20px;
    font-size: 14px; 
	font-family: "微软雅黑"; font-weight:bold;
}